.top {
  display: flex;
  margin: 5rem 0 0 0;
}

.intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15rem 0 0 10rem;
}

.name {
  color: #FFFFFF;
}
.software {
  color: #FFFFFF;
}

.portfolio-image {
  width: 50%;
  display: flex;
  justify-content: center;
}


.portfolio-image img{
  margin: 5rem;
  width: 17rem;
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0%, 100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

.engineer-developer {
  background: #AE46FF;
  background: linear-gradient(to right, #AE46FF 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cursor {  
  color: #AE46FF;
  height: 1rem;
}

.description {
  color: #FFFFFF;
  width: 35rem;
  margin: 1rem 0 0 0;
}

.socials {
  margin: 1rem 0 0 0;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.socials a img{
  width: 3rem;
  height: 3rem;
}

.cv {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #AE46FF;
  font-size: 20px;
  background: #0F0715;
  padding: 10px 20px 10px 20px;
  border: solid #AE46FF 2px;
  text-decoration: none;
}

.cv:hover {
  background: #AE46FF;
  text-decoration: none;
  color: #FFFFFF;
}

.experience{
  display: flex;
  justify-content: space-evenly;
}
.years,
.projects {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.year-num,
.year-words,
.projects-num,
.projects-words {
  color: #FFFFFF;
}

.year-num p,
.projects-num p{
  font-size: 5rem;
}

.year-words p, 
.projects-words p{
  font-size: 1.2rem;
  width: 5rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-body {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 0 5rem 0;
}
.skills img{
  width: 3rem;
  
}

.skills-body-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #FFFFFF;
  background-color: #140D1C;
  transition: transform 0.3s ease;
  width: 10rem;
  padding: 2rem 0 0 0;
  border-radius: 1rem;
  filter: grayscale(100%);
}

.skills-body-card:hover {
  transform: scale(1.1  );
  filter: grayscale(0%);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.body-header-title {
  font-size: 3rem;
  background: #AE46FF;
  background: linear-gradient(to right, #AE46FF 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body-header-description{
  font-size: 1rem;
  color: #FFFFFF;
  width: 30rem;
  text-align: center;
}

.showcase {
  margin: 5rem 5rem 5rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 3rem;
}

.showcase-1,
.showcase-2,
.showcase-3,
.showcase-4 {
  width: 35rem;
}

.showcase-1 img,
.showcase-2 img,
.showcase-3 img,
.showcase-4 img {
  width: 35rem;
  height: 22rem;
  transition: transform 0.3s ease;
  border-radius: 2rem;
}

.showcase-1 img:hover,
.showcase-2 img:hover,
.showcase-3 img:hover,
.showcase-4 img:hover {
  transform: scale(1.1  );
}



